<div class="page-header"> Index Page </div>

<% @ideas.each do |idea| %>

    <div class="index-card" >
        <div class="index-card-header">
            <%= link_to idea.title, idea_path(idea), class:"header-text" %>
        </div>

        <div class="index-card-body">
            <%=  idea.description %>
        </div>

        <div class="index-card-footing">    
           <p> <%= idea.user&.full_name %> </p>
           <p> <%= pluralize(idea.likes.count, "like")%> 

        </div>
    </div>

<% end %>